<footer class="clip">
    <div class="inner">
        <p>
            {% if home %}
                <strong>Portfolio of Vadim Vaitenko</strong>,&nbsp;1986–2024
            {% else %}
                <a href="../"><strong>Portfolio of Vadim Vaitenko</strong></a>,&nbsp;1986–2024
            {% endif %}
        </p>
        <p>Select case studies over the years</p>
        <p>
            Code is
            <a href="https://github.com/ichik/vaitenko.com">available on GitHub</a>
        </p>
        <p>
            Typeset in
            <a href="https://github.com/RingoSeeber/Petrona">Petrona</a>
            by
            Ringo&nbsp;R.&nbsp;Seeber
        </p>
        <p>
            Deployed and hosted with
            <a href="https://www.cloudflare.com">Cloudflare</a>
        </p>
    </div>
</footer>
