.case-grid figure .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: var(--space-2xs) 0;
}
.case-grid figure .gallery.horizontal {
    gap: var(--space-2xs);
    align-items: center;
}
.case-grid figure .gallery.horizontal img {
    max-width: 60%;
}
.case-grid figure .gallery.horizontal img.mobile {
    max-width: 30%;
}
@media (min-width: 1320px) {
    .case-grid figure .gallery img {
        max-width: 50%;
    }
    .case-grid figure .gallery.horizontal img {
        max-width: 70%;
    }
    .case-grid figure .gallery.horizontal img.mobile {
        max-width: 20%;
    }
}
