{% extends "case.njk" %}
{% set title = "Algorithmic Palettes for Appsmith" %}
{% set slug = "appsmith" %}
{% set description = "Magically accessible and harmonious color palettes for UI made from a single* input" %}
{% block colors %}
<style type='text/css'>
    :root {
        --bg: #f2f2f2;
        --fg: #0c2e44;
    }
    .key {
        color: #feaed0;
    }
    .value {
        color: #aaffa9;
    }
    .semi {
        color: #ed9436;
    }
    .case-grid figure.demo {
        flex-direction: row;
    }
    .demo * {
        font-family: sans-serif;
    }
    .demo .slice {
        max-width: 50%;
        display: flex;
        justify-content: center;
        padding: var(--space-3xl) var(--space-l);
    }
    .demo Button {
        background-color: var(--blue);
        max-width: 16ch;
        border: none;
    }
</style>
{% endblock %}
{% block scripts %}
<script src='https://colorjs.io/dist/color.global.min.js'></script>
<script src='../main.js'></script>
<script>
    function appendCssRules(tokens) {
        const root = document.querySelector(':root');

        Object.keys(tokens).forEach(tokenKey => {
            const token = tokens[tokenKey];

            Object.keys(token).forEach(key => {
                root.style.setProperty(`--color-${tokenKey}`, token);
            });
        });
    }

    function handleClick() {
        const inputElement = document.getElementById('myInput');
        const inputValue = inputElement.value;
        const theme = new LightModeTheme(inputValue).getColors();
        appendCssRules(theme);
    }
</script>
{% endblock %}
{% block content %}

<input type='text' id='myInput'>
<button onclick='handleClick()'>Apply seed</button>
<figure class='full demo'>
    <div class='slice light'>
        <Button>Do the Thing</Button>
    </div>
    <div class='slice dark'>
        <Button>Do the Thing</Button>
    </div>
</figure>

{% endblock %}
