{% extends "case.njk" %}
{% set title = "Algorithmic Palettes for Appsmith" %}
{% set slug = "appsmith" %}
{% set description = "Magically accessible and harmonious color palettes for UI made from a single* input" %}
{% block colors %}
<style type='text/css'>
    :root {
        --bg: #f2f2f2;
        --fg: #0c2e44;
    }
    .key {
        color: #feaed0;
    }
    .value {
        color: #aaffa9;
    }
    .semi {
        color: #ed9436;
    }
</style>
{% endblock colors %}
{% block content %}

{% endblock content %}
