.index-grid {
    display: grid;
    padding: 2%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--space-2xs-l);
}
.clip {
    clip-path: polygon(9% 0, 84% 16%, 100% 67%, 17% 97%, 0 45%);
    background-color: var(--card-bg);
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    padding: 20% 14% 25% 12%;
}
.intro {
    aspect-ratio: 1;
}
.photo {
    clip-path: polygon(
        56% 0,
        73% 23%,
        67% 47%,
        93% 66%,
        100% 95%,
        0 88%,
        8% 65%,
        34% 46%,
        27% 33%,
        32% 8%
    );
    padding: 5% 5% 10% 5%;
    aspect-ratio: 1;
}
.babbel {
    clip-path: polygon(40% 5%, 90% 20%, 100% 70%, 37% 100%, 10% 80%, 0 20%);
    aspect-ratio: 1.5;
}
.sqncbrk {
    clip-path: polygon(34% 10%, 100% 25%, 94% 80%, 10% 60%, 2% 19%);
    aspect-ratio: 1;
}
@media (min-width: 428px) {
    /* switch to two colums */
    .intro,
    .photo,
    .babbel,
    .sqncbrk {
        grid-column: span 2;
    }
}
@media (min-width: 674px) {
    /* switch to three */
    .babbel {
        grid-column: span 3;
    }
}
@media (min-width: 953px) {
    /* we're officially in crazy town now, switch to four */
    /* .intro, */
    .sqncbrk {
        grid-column: span 3;
    }
}
@media (min-width: 1242px) {
    /* five */
    .babbel {
        grid-column: span 3;
    }
    .sqncbrk {
        grid-column: span 2;
    }
}
@media (min-width: 1500px) {
    /* six */
    .intro {
        grid-column: span 3;
    }
    .sqncbrk {
        grid-column: span 3;
    }
}
@media (min-width: 1759px) {
    /* seven */
    .photo {
        grid-column: span 3;
    }
    .babbel {
        grid-column: span 4;
    }
}
@media (min-width: 2017px) {
    /* eight */
    .intro {
        grid-column: span 4;
    }
    .babbel {
        grid-column: span 5;
    }
}
@media (min-width: 2275px) {
    /* nine */
}
@media (min-width: 2533px) {
    /* ten */
}
.intro .content {
    display: flex;
    flex-direction: column;
    gap: var(--space-3xs);
}

.profile-links {
    display: flex;
    gap: var(--space-s);
}
.profile-links li {
    list-style-type: none;
}
